<a href="https://colab.research.google.com/github/Conrad-Gub/UICT-DATA-SCIENCE-/blob/main/Module_1_D_S10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to data science

In [1]:
#use the print function to return Hello World!
print("Hello world!")

Hello world!

In [2]:
print("Conrad at Data science")

Conrad at Data science

In [3]:
name=input("Enter your first Name:")
print(name)

Enter your first Name:Conrad
Conrad

In [4]:
# declare an integer and float to return its output using the print statement
a= 24
print(a)

b=0.62
print(b)

24
0.62

In [5]:
#Maths operations 1. Return addition
c=45
d=64
print(c+d)

109

In [13]:
#Division
print(d/a)
print(c*d)

dob = int(input("year of birth: "))
cont1= int(input("current year :"))
difference = cont1 - dob

print("differnece is", difference)

2.6666666666666665
2880
year of birth: 1998
current year :2025
differnece is 27

In [6]:
# String variables; words or characters; it can be stored in a variable. A string is immutable--cannot be changed.
# Declare one today
student= "Conrad"
print(student)

students = "conrad is enrolled"
print(student, students)

Conrad
Conrad conrad is enrolled

In [7]:
# edits can be made; use lowercase; uppercase and capitalize functions already embedded.
print(student.upper())
print(students.capitalize())

CONRAD
Conrad is enrolled

In [12]:
#formatting strings and then combining strings: format can be done to add words or sentences i.e concutinate. f hepls you use the string you've defined before; prior.
color = "Golden"
car = "SUV Range Rover"
print(f"Conrad has a {color} {car}")

print("Conrad was offered another "+ color + " " + car + " and accepted")

Conrad has a Golden SUV Range Rover
Conrad was offered another Golden SUV Range Rover and accepted

# You can also include expressions
price = 10.5
quantity = 3
print(f"The total cost is ${price * quantity:.2f}") # .2f formats to 2 decimal places

**Other Data structures**
these store collection of related data e.g lists, tuple, dictionary and set.
THey are used to organise and store data so that we can easily maninulate it.
--> for the purpose of handling data, processing and analyzing it to get meaningful insights of it.

Lists are kept in square brackets and in them are strings, numbers.

In [20]:
# length of List
cars = ["Range Rover", "benz", "BMW"]
print(cars)
# to know the number of items in the list; use the length fxn i.e. len
print(len(cars))

['Range Rover', 'benz', 'BMW']
3

In [21]:
#Append; adding another item on the list. On append; you add only one item; extend requires you to add more than 1 item by using [square brackets] as in a list.
cars.append('Ford Raptor')
print(cars)

#Sorting: Ascending Order
cars.sort()
print(cars)

['Range Rover', 'benz', 'BMW', 'Ford Raptor']
['BMW', 'Ford Raptor', 'Range Rover', 'benz']

In [22]:
#Indexing pulling out certain/particular item; use square brackets when indexing. This counts goes from 0,1,2,...
print(cars[0])

BMW

In [23]:
#Removing
cars.remove("BMW")
print(cars)

['Ford Raptor', 'Range Rover', 'benz']

In [24]:
#slicing: returns a portion
print(cars[1:3]) # This will return elements from index 1 up to (but not including) index 3
print(cars[:2])  # This will return elements from the beginning up to (but not including) index 2
print(cars[1:])  # This will return elements from index 1 to the end
print(cars[::2]) # This will return every second element

['Range Rover', 'benz']
['Ford Raptor', 'Range Rover']
['Range Rover', 'benz']
['Ford Raptor', 'benz']